* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
  --seagreen: #4AB8B1;;
  --marigold: #f0a202ff;
  --indigo-dye: #294a66ff;
  --mint-cream: #f2f7f2ff;
  }

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}

.hero .but2{
  position: absolute;
  top: 70%;
  left: 22.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--seagreen);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}
.hero .but1{
  position: absolute;
  top: 70%;
  left: 33%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--seagreen);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}
.aboutus{

  color: var(--indigo-dye);
  padding: 50px;
}
.mainh1{
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  padding:30px 10px 30px 10px;
  letter-spacing: 2px;
  margin:0px
}
.devmain{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--indigo-dye);
  color:white;
  padding: 50px;
}
.testimonials, .articleSection, .aboutDev{
  background-color: var(--marigold);
  color:white;
  padding: 50px;
  width: 100%;
}
.pmain{
  padding:0px 100px 10px 100px;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  margin: 0px;
}

.profileform{
  padding:45px;
  font-size: 20px;

}

.profiledevcont{
  display: flex;
  flex-direction: column; 
}

.contentPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editprofile{
  background-color: var(--seagreen);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top:30px
}

/* Login Form Styling */
.login-container, .login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;  
  height: 100%;
}
.searchdiv{
  margin:65px;
  border:thin solid var(--seagreen);
  border-radius: 3rem;
  background-color:var(--indigo-dye);
}
.search-but{
  text-decoration: none;
  background-color: var(--indigo-dye);
  color: white;
  padding:50px 30px 50px 30px;
  border: thin solid var(--indigo-dye);
  border-radius: 50%;
  font-size: 30px;
  font-weight: 200;
  margin:45px;
  box-shadow: 1px 1px 16px 8px rgba(48, 100, 214, 0.5);
}

.search-but:hover{
  background-color: var(--marigold);
  color:white;
  border: thin solid var(--marigold);
  box-shadow: 1px 1px 16px 8px rgba(240, 150, 48, 0.5);
  cursor: pointer;
}
.searchbuttons{
  display:flex;
  justify-content: center;
  padding-bottom:50px
}

.infobut{
  background-color:#F0A202; 
  border:none;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.infobut:hover{
background-color: var(--seagreen);
color:white;
box-shadow: 1px 1px 23px 5px rgba(57, 223, 223, 0.5);

}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--marigold);
}
.profile-info{
  background-color: var(--marigold);
  color: white;
  padding:60px;

}

.profiletitles{
  font-weight: 200;
  font-size: 25px;
  color:black
}

.profiletext{
  font-size: 20px;
  font-weight: 200;
 
}