:root {
--seagreen: #4AB8B1;;
--marigold: #f0a202ff;
--indigo-dye: #294a66ff;
--mint-cream: #f2f7f2ff;
}


.main-footer{
    color: #ffff;
    background-color: var(--seagreen);
    position: relative;
    padding: 60px 10px 20px 10px;
    bottom: 0;
    width: 100%;    
}

.footer-items {
    list-style: none;
}

.footer-links {
    color: '#ffff'
}